* {
	box-sizing: border-box;
}
body {
	color: black;
	background-color: #EEEEEE;
}
a {
	text-decoration:none;
	color: navy;
}
.container {
	padding-top: 2%;
}
.sidebar {
	float:left;
	width: 30%;
	min-width: 320px;
}
.contentcontainer {
	max-width: 850px;
	overflow:hidden;
}
.toprightnav {
	list-style-type: none;
	padding:0;
	margin-right: 3%;
}
.toprightnav li {
	display: inline-block;
	position: relative;
	float: right;
	border-top: 1px solid #4863A0;
	border-left: 1px solid #4863A0;
	border-right: 1px solid #4863A0;
	padding: 1% 2%;
	margin: 0% 1%;
	bottom:-1px;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 14px;
	font-weight:bold;
}
.linkstyle {
	text-decoration:none;
	display: block;
	text-align:center;
}
#active {
	position:relative;
	background-color: white;
}
.article {
	background-color: white;
	border: 1px solid #4863a0;
	padding: 2%;
	clear:both;
}


.image {
	text-align:center;
}


.keyword {
	font-weight: bold;
}

.screensimage {
	width: 40%;
}

.toc {
	border: 1px solid #999;
	padding: 2%;
	background-color: #eeeeee;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}

.toc ol {
	font: 12px sans-serif;
	color: #0b0080;
	font-weight:normal;
	text-align: left;
}
.gallery {
	width: 30%;
}
.galleryimages {
	text-align:center;
}


/* @media Rule */
@media all and (max-width: 650px) {
	.container {
		padding: 4%;
		overflow:hidden;
	}
	.contentcontainer {
	float: left;
	width: auto;
	}
	.gallery {
	width: 50%;
	}
	.sidebar {
		float: none;
			}
	.wikilinks {
		list-style-type: none;
		background-color: #eee;
		padding-right: 15%;
	}
	.wikilinks li {
		text-align: center;
		border: 1px solid #4863a0;
		background-color: white;
	}
	
}


